{% load query_transform %}

{% if is_paginated %}
<div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?{% query_transform request page=page_obj.previous_page_number %}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}
                </span>

              {% if page_obj.has_next %}
                  <a href="?{% query_transform request page=page_obj.next_page_number %}">next</a>
              {% endif %}
            </span>
            </div>
        </div>
{% endif %}

