{% extends "layouts/base-task-manager.html" %}

{% block content %}
  <h2>Positions list</h2>
   {% block search %}
     {% include "includes/search.html" %}
   {% endblock %}
  {% if position_list %}
    <a href="{% url 'task_manager:position-create' %}" class="btn bg-gradient-dark"> Create</a>
    <br><br>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name position</th>
        <th>Update position</th>
        <th>Delete position</th>
      </tr>
      {% for position in position_list %}
        <tr>
        <td>{{ position.id }}</td>
        <td><a href="{% url "task_manager:position-detail" pk=position.id %} ">{{ position.name }}</a></td>
        <td><a style="color: green" href="{% url "task_manager:position-update" pk=position.id %} ">Update</a></td>
          <td><a style="color: red" href="{% url "task_manager:position-delete" pk=position.id %} ">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
    <div class="container">
    {% block pagination %}
        {% include "includes/pagination.html" %}
    {% endblock %}
      </div>
  {% else %}
    <p>There are no position</p>
  {% endif %}
{% endblock %}
