{% extends "base.html" %}

{% block content %}
  <h1>Task Type list</h1>
  <br>
   {% block search %}
     {% include "includes/search.html" %}
   {% endblock %}
  <br>
  {% if tasktype_list %}
    <a href="{% url 'task_manager:task-types-create' %}" class="btn btn-success">Create</a>
    <br><br>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name of task type</th>
        <th>Update task type</th>
        <th>Delete task type</th>
      </tr>
      {% for task_type in tasktype_list %}
        <tr>
        <td>{{ task_type.id }}</td>
        <td> <a href="{% url "task_manager:task-types-detail" pk=task_type.id %} ">{{ task_type.name }}</a></td>
        <td><a style="color: green" href="{% url "task_manager:position-update" pk=task_type.id %} ">Update</a></td>
          <td><a style="color: red" href="{% url "task_manager:position-delete" pk=task_type.id %} ">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no task types</p>
  {% endif %}
{% endblock %}