{% extends "layouts/base-task-manager.html" %}

{% block content %}
    <p>Task name: {{ task.name }}</p>
    <p>Task descriptions: {{ task.descriptions }}</p>
    <p>Task deadline: {{ task.deadline }}</p>

      {% if user in task.assignees.all %}
        <form method="POST"
          action="{% url 'task_manager:task-worker-update' task.pk %}">
          {% csrf_token %}
          <button class="btn btn-danger">
           Delete me from this task
          </button>
        </form>
        {% else %}
        <form method="POST"
          action="{% url 'task_manager:task-worker-update' task.pk %}">
          {% csrf_token %}
          <button class="btn btn-info">
           Assign me to this task
          </button>
        </form>

      {% endif %}
  <br><br>
  <p>Workers in task</p>
  <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
      </tr>
    {% for worker in task.assignees.all %}
      <tr>
      <td>{{ worker.id }}</td>
      <td>{{ worker.username }}</td>
      <td>{{ worker.first_name}}</td>
      <td>{{ worker.last_name }}</td>
      <td>{{ worker.position }}</td>
      </tr>
    {% endfor %}
    </table>
     <a href="{% url "task_manager:task-list" %}" class="btn btn-success">Back</a>

{% endblock %}
