{% extends "base.html" %}

{% block content %}
  <h1>
    {{ tasktype.name }}
  </h1>
    <br>

  <div class="ml-3">
    <h4>Number of tasks with this task type: {{ tasktype.task_set.count }}</h4>
  <br><br>
  <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Descriptions</th>
        <th>Deadline</th>
        <th>Is completed</th>
        <th>Priority</th>
      </tr>

    {% for task in tasktype.task_set.values %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.descriptions }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.is_completed }}</td>
        <td>{{ task.priority }}</td>
      </tr>
    {% empty %}
      <p>No task with this task type!</p>
    {% endfor %}
      </table>

  </div>
{% endblock %}
