{% extends "base.html" %}

{% block content %}
    <h1>Worker List</h1>
  <br>
   {% block search %}
     {% include "includes/search.html" %}
   {% endblock %}
  <br>

  <p>Number of all workers: {{ count_all_workers }}  </p>
  <p>Number of workers with completed tasks: {{ count_worker_with_completed_task }} </p>
  <p>Number of workers with current tasks: {{ count_worker_with_current_task }}</p>
    <br><br>
    {% if worker_list %}
        <a href="{% url "task_manager:worker-create" %}" class="btn btn-success">Create worker</a>
        <br><br>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Update worker</th>
        <th>Delete worker</th>
      </tr>
    {% for worker in worker_list %}
      <tr>
        <td>{{ worker.id }}</td>
        <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
        <td><a style="color: green" href="{% url "task_manager:worker-update" pk=worker.id %} ">Update</a></td>
          <td><a style="color: red" href="{% url "task_manager:worker-delete" pk=worker.id %} ">Delete</a></td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no workers in the company.</p>
    {% endif %}
{% endblock %}
