{% extends "layouts/base-task-manager.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
  </h1>
    <br>
    <a href="{% url 'task_manager:worker-delete' pk=worker.id %}" class="btn btn-danger">Delete worker</a>
    <a href="{% url 'task_manager:worker-update' pk=worker.id %}" class="btn btn-warning">Update worker</a>
    <br><br><br>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

  <div class="ml-3">
    <h4>Worker tasks</h4>
      {% for task in worker.workers.all %}
          <hr>
          <p><strong>Id:</strong> {{ task.id }}</p>
          <p><strong>Name:</strong> {{ task.name }}</p>
          <p><strong>Description:</strong> {{ task.descriptions }}</p>
          <p><strong>Deadline:</strong> {{ task.deadline }}</p>
          <p><strong>Is completed:</strong> {{ task.is_completed }}</p>
      {% empty %}
        <p>No tasks!</p>
      {% endfor %}
  </div>

{% endblock %}
